USE [master]
GO
/****** Object:  Database [TrabajoFinalAud]    Script Date: 05/02/2019 15:58:18 ******/
CREATE DATABASE [TrabajoFinalAud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoFinalAud', FILENAME = N'b:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TrabajoFinalAud.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TrabajoFinalAud_log', FILENAME = N'b:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TrabajoFinalAud_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoFinalAud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoFinalAud]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarAuditoriaLogInOut]    Script Date: 05/02/2019 15:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ConsultarAuditoriaLogInOut]
as select Usuario,Operacion,Equipo,FechaHora from LogsInOut order by FechaHora desc
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarIngresoEgreso]    Script Date: 05/02/2019 15:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_RegistrarIngresoEgreso] @Usuario varchar(15), @Operacion varchar(10), @Equipo varchar(20),@FechaHora datetime
as Insert into LogsInOut values(@Usuario,@Operacion,@Equipo,@FechaHora)

GO
/****** Object:  Table [dbo].[LogsInOut]    Script Date: 05/02/2019 15:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogsInOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](15) NOT NULL,
	[Operacion] [varchar](10) NOT NULL,
	[Equipo] [varchar](20) NOT NULL,
	[FechaHora] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrazabilidadPedido]    Script Date: 05/02/2019 15:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrazabilidadPedido](
	[id_Pedido] [int] NOT NULL,
	[Usuario] [nvarchar](60) NOT NULL,
	[Operacion] [nvarchar](120) NOT NULL,
	[FechaOperacion] [datetime] NOT NULL,
	[Equipo] [nvarchar](20) NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LogsInOut] ON 

INSERT [dbo].[LogsInOut] ([Id], [Usuario], [Operacion], [Equipo], [FechaHora]) VALUES (1, N'Admin', N'Ingreso', N'DESKTOP-1MDN7GM', CAST(N'2016-06-30 20:10:12.473' AS DateTime))
INSERT [dbo].[LogsInOut] ([Id], [Usuario], [Operacion], [Equipo], [FechaHora]) VALUES (2, N'Admin', N'Ingreso', N'DESKTOP-1MDN7GM', CAST(N'2016-06-30 20:12:01.237' AS DateTime))
INSERT [dbo].[LogsInOut] ([Id], [Usuario], [Operacion], [Equipo], [FechaHora]) VALUES (3, N'Admin', N'Ingreso', N'DESKTOP-1MDN7GM', CAST(N'2016-06-30 20:12:59.213' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LogsInOut] OFF
INSERT [dbo].[TrazabilidadPedido] ([id_Pedido], [Usuario], [Operacion], [FechaOperacion], [Equipo]) VALUES (14, N'Admin', N'Agregar', CAST(N'2016-09-05 20:52:58.460' AS DateTime), N'PC')
INSERT [dbo].[TrazabilidadPedido] ([id_Pedido], [Usuario], [Operacion], [FechaOperacion], [Equipo]) VALUES (16, N'Admin', N'Agregar', CAST(N'2016-12-16 19:44:16.833' AS DateTime), N'DESKTOP-1MDN7GM')
INSERT [dbo].[TrazabilidadPedido] ([id_Pedido], [Usuario], [Operacion], [FechaOperacion], [Equipo]) VALUES (16, N'Admin', N'Modificar', CAST(N'2016-12-16 20:16:10.607' AS DateTime), N'DESKTOP-1MDN7GM')
USE [master]
GO
