<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="MailAddress" value="marcsatchmouai@gmail.com"/>
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key="SMTPPORT" value="587"/>
    <add key="UseDefaultCredentials" value="true"/>
    <add key="Usuario" value="marcsatchmouai@gmail.com"/>
    <add key="Clave" value="rfhitzkbnsdhjzdk"/>
    <add key="EnableSSL" value="true"/>
    <add key="NombreEmisor" value="Frecicar"/>
    <!---Seccion Config Sistema-->
    <add key="CurrentLanguage" value=""/>
    <add key="FirstRun" value="false"/>
    <add key="GoodClose" value="true"/>
    <add key="SuperUser" value="Admin"/>
    <add key="SuperGroup" value="Administradores"/>
    <add key="CryptoAlgorithm" value=""/>
    <add key="Hash" value="xGgjgonw"/>
    <add key="LastUserLogged" value=""/>
    <add key="LastUserLoggedDateTime" value=""/>
  </appSettings>

  <!--<connectionStrings>
    <add name="Sistema" connectionString="Data Source=AOTAOPC\AOTAOSQL;Initial Catalog=Sistema; Integrated Security = true ;MultipleActiveResultSets = true"
      providerName="System.Data.SqlClient" />
    <add name="Seguridad" connectionString="Data Source=AOTAOPC\AOTAOSQL;Initial Catalog=Seguridad;Integrated Security = true ;MultipleActiveResultSets = true"
      providerName="System.Data.SqlClient" />
    <add name="Auditoria" connectionString="Data Source=AOTAOPC\AOTAOSQL;Initial Catalog=Auditoria;Integrated Security = true ;MultipleActiveResultSets = true"
      providerName="System.Data.SqlClient" />
    <add name="Vista.Properties.Settings.TrabajoFinalConnectionString"
      connectionString="Data Source=AOTAOPC\AOTAOSQL;Initial Catalog=Sistema;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="Sistema" connectionString="Server=MMD; Database=TrabajoFinal; Trusted_Connection=False; MultipleActiveResultSets = true; User id=frecicar; Password=freci123;" />
    <add name="Seguridad" connectionString="Data Source=MMD; Initial Catalog=TrabajoFinalSec; Integrated Security = false; MultipleActiveResultSets = true; User Id=frecicar;
      Password=freci123;"
         providerName="System.Data.SqlClient" />
    <add name="Auditoria" connectionString="Data Source=MMD; Initial Catalog=TrabajoFinalAud; Integrated Security = false; MultipleActiveResultSets = true; User Id=frecicar;
      Password=freci123;"
         providerName="System.Data.SqlClient" />
    <add name="Vista.Properties.Settings.TrabajoFinalConnectionString"
         connectionString="Data Source=MMD;Initial Catalog=Sistema;Integrated Security=false;MultipleActiveResultSets = true; User Id=frecicar;
      Password=freci123;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
